.columnGroup {
  display: flex;
}

.column {
  flex-grow: 1;
  justify-content: flex-start;
}

.controls {
  margin-bottom:  calc($base-grid-size * -3);
  font-weight: 400;
}

.container {
  width: 360px;
  line-height: 1.618;
}

.formDialog .body {
	border-top: 1px solid #ccc;
	overflow-y: auto;
	overflow-x: hidden;
}

.formDialog .controls {
	margin: 0;
	border-top: 1px solid #ccc;
	padding: 5px 20px 10px 0;
	flex-shrink: 0;
}