.columnGroup {
  display: flex;
}

.column {
  flex-grow: 1;
  justify-content: flex-start;
}

.controls {
  margin-bottom:  calc($base-grid-size * -3);
  font-weight: 400;
}

.container {
  width: 360px;
  line-height: 1.618;
}

.formDialog {
  position: relative;
  height: 90vh;
  overflow: hidden;
  padding: 0;
  min-height: 145px;
}

.formDialog .title,
.formDialog .body	{
	padding: 0 20px;
}

.formDialog .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.formDialog .body {
  position: absolute;
  top: 88px;
  bottom: 60px;
  left: 0;
  right: 0;
	border-top: 1px solid #ccc; 
	overflow-y: auto;
	overflow-x: hidden;
}

.formDialog .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
	margin: 0;
	height: 60px;
  box-sizing: border-box;
	border-top: 1px solid #ccc; 
	padding: 5px 20px 10px 0;
}
