.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin: 0;
  position: relative;
  z-index: 10001;
}

.body {
  box-sizing: border-box;
  padding: calc($base-grid-size * 5);

  .markdown {
    ul {
      list-style: disc;
      margin-bottom: calc($base-grid-size * 4);
    }
    li {
      margin-left: calc($base-grid-size * 6);
    }
  }
  .tab-group--nav {
    margin: calc($base-grid-size * -6) calc($base-grid-size * -10) calc($base-grid-size * 2);
  }
  .tab-section {
    margin-bottom: calc($base-grid-size * 4);
  }
}

.close {
  color: #fff;
  position: absolute;
  right: calc($base-grid-size * 2);
  top: calc($base-grid-size * 2);
  z-index: 1000;
}

.title {
  background-color: $primary-color;
  border-radius: 2px 2px 0 0;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  padding: calc($base-grid-size * 5) calc($base-grid-size * 10);
}
